@media (max-width:430px){

.overlay{

    padding:80px 63px 50px;

}

.logo{

    width:170px;

}

.profile{

    margin-top: 8px;

}


#nama{

    font-size:28px;

}

#jabatan{

    font-size:20px;

}

.contact-list{

    margin-top:14px;
    margin-left:39px;

}

.contact-item{

    margin-bottom:11px;

}

.icon{

    width:28px;

    height:28px;

    font-size:15px;

}

.contact-item span{

    font-size:16px;
    font-style: italic;

}

.button-area{

   margin-top: 70px;
        margin-bottom: 71px;

}

.btn-whatsapp{

    height:62px;

    font-size:18px;

}

}